<div class="nav-docs posts">
    <div class="nav-docs-section">
        <h3>Quick Start</h3>
        <ul>
            {% assign pages_list = site.pages %}
            {% for node in pages_list %}
                {% if node.title != null %}
                    {% if node.layout == "page" %}
                        <li><a class="{% if page.url == node.url %}active{% endif %}" href="{{ site.base-link-url }}{{ node.url }}">{{ node.title }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="nav-docs-section">
        <h3>하드웨어 모듈 개발</h3>
        <ul>
            {% for post in site.posts %}
                {% if post.type == "entryHw" %}
                    <li><a class="{% if page.url == post.url %}active{% endif %}" href="{{site.base-link-url}}{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="nav-docs-section">
        <h3>엔트리 블록 개발</h3>
        <ul>
            {% assign posts = site.posts | sort: 'order' %}
            {% for post in posts %}
                {% if post.type == "entryBlock" %}
            {{ site.posts.length }}
                    <li><a class="{% if page.url == post.url %}active{% endif %}" href="{{site.base-link-url}}{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="nav-docs-section">
        <h3>Tip & Tech</h3>
        <ul>
            {% for post in site.posts %}
                {% if post.type == "tipNTech" %}
                    <li><a class="{% if page.url == post.url %}active{% endif %}" href="{{site.base-link-url}}{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
</div>
