<div class="nav-main">
    <div class="wrap">
        <a href="{{ site.baseurl }}" class="nav-home">
            <img src="{{ site.baseurl }}public/image/logo_v2.png"/>
            <span>
                {{ site.title }}
            </span>
        </a>
        <ul class="nav-site">
            <li>
                <a class="{% if page.url != /Support %}active{% endif %}">
                    DOCS
                </a>
            </li>
            <li>
                <a class="{% if page.url == /Support %}active{% endif %}">
                    SUPPORT
                </a>
            </li>
            <li>
                <a href="{{ site.github.repo }}" target="_blank">
                    GITHUB
                </a>
            </li>
        </ul>
    </div>
</div>
